<div class="content__block">
  <div class="content__title">
    <div class="content__title-icon">
      <img src="assets/svg/page.svg" alt="PAGES" />
    </div>
    <div class="content__title-text">PAGES</div>
  </div>
  <div class="page-items">
    @for (page of project()?.pages; track page) {
      <div class="page-item">
        <div class="item-icon">
          <img src="/assets/svg/check.svg" alt="Check" />
        </div>
        <div class="item-text">{{ page }}</div>
      </div>
    }
  </div>
</div>
