<div class="items">
  <article class="item">
    <a
      target="_blank"
      href="https://vitaliisoloninko.github.io/homepro/"
      class="item__image-ibg"
    >
      <img src="assets/portfolio/homepro.jpg" alt="HomePro" />
    </a>
    <div class="item__body">
      <h4 class="item__title">
        <a
          href="https://vitaliisoloninko.github.io/homepro/"
          class="item__link-title"
          >HomePro - Home services
        </a>
      </h4>
      <div class="item__footer">
        <div class="item__category category-link">JavaScript</div>
        <div class="item__category category-link">GULP</div>
        <div class="item__category category-link">Webpack</div>
        <a href="https://vitaliisoloninko.github.io/homepro/" class="item__link"
          ><img src="assets/icons/link.svg" alt="link"
        /></a>
      </div>
    </div>
  </article>

  <article class="item">
    <a
      href="https://vitaliisoloninko.github.io/furino/"
      class="item__image-ibg"
    >
      <img src="assets/portfolio/furino.jpg" alt="Furino" />
    </a>
    <div class="item__body">
      <h4 class="item__title">
        <a
          href="https://vitaliisoloninko.github.io/furino/"
          class="item__link-title"
          >Furino - Furniture shop
        </a>
      </h4>
      <div class="item__footer">
        <div class="item__category category-link">JavaScript</div>
        <div class="item__category category-link">SCSS</div>
        <div class="item__category category-link">JSON</div>
        <a href="https://vitaliisoloninko.github.io/furino/" class="item__link"
          ><img src="assets/icons/link.svg" alt="link"
        /></a>
      </div>
    </div>
  </article>

  <article class="item">
    <a
      href="https://vitaliisoloninko.github.io/farmvest/"
      class="item__image-ibg"
    >
      <img src="assets/portfolio/farmvest.jpg" alt="FarmVest" />
    </a>
    <div class="item__body">
      <h4 class="item__title">
        <a
          href="https://vitaliisoloninko.github.io/farmvest/"
          class="item__link-title"
          >FarmVest - Investment company
        </a>
      </h4>
      <div class="item__footer">
        <div class="item__category category-link">JavaScript</div>
        <div class="item__category category-link">GULP</div>
        <div class="item__category category-link">Webpack</div>
        <a
          href="https://vitaliisoloninko.github.io/farmvest/"
          class="item__link"
          ><img src="assets/icons/link.svg" alt="link"
        /></a>
      </div>
    </div>
  </article>

  <article class="item">
    <a
      href="https://vitaliisoloninko.github.io/growfy/"
      class="item__image-ibg"
    >
      <img src="assets/portfolio/growfy.jpg" alt="growfy" />
    </a>
    <div class="item__body">
      <h4 class="item__title">
        <a
          href="https://vitaliisoloninko.github.io/growfy/"
          class="item__link-title"
          >Growfy - Marketing agency</a
        >
      </h4>
      <div class="item__footer">
        <div class="item__category category-link">JavaScript</div>
        <div class="item__category category-link">CSS</div>
        <div class="item__category category-link">HTML</div>
        <a href="https://vitaliisoloninko.github.io/growfy/" class="item__link"
          ><img src="assets/icons/link.svg" alt="link"
        /></a>
      </div>
    </div>
  </article>

  <article class="item">
    <a
      href="https://vitaliisoloninko.github.io/tealand/"
      class="item__image-ibg"
    >
      <img src="assets/portfolio/tealand.jpg" alt="TeaLand" />
    </a>
    <div class="item__body">
      <h4 class="item__title">
        <a
          href="https://vitaliisoloninko.github.io/tealand/"
          class="item__link-title"
          >TeaLand - Cafe</a
        >
      </h4>
      <div class="item__footer">
        <div class="item__category category-link">JavaScript</div>
        <div class="item__category category-link">GULP</div>
        <div class="item__category category-link">Webpack</div>
        <a href="https://vitaliisoloninko.github.io/tealand/" class="item__link"
          ><img src="assets/icons/link.svg" alt="link"
        /></a>
      </div>
    </div>
  </article>

  <article class="item">
    <a
      href="https://vitaliisoloninko.github.io/guitar/"
      class="item__image-ibg"
    >
      <img src="assets/portfolio/guitar.jpg" alt="Guitar" />
    </a>
    <div class="item__body">
      <h4 class="item__title">
        <a
          href="https://vitaliisoloninko.github.io/guitar/"
          class="item__link-title"
          >Rhythm - Guitar shop
        </a>
      </h4>
      <div class="item__footer">
        <div class="item__category category-link">JavaScript</div>
        <div class="item__category category-link">CSS</div>
        <div class="item__category category-link">HTML</div>
        <a href="https://vitaliisoloninko.github.io/guitar/" class="item__link"
          ><img src="assets/icons/link.svg" alt="link"
        /></a>
      </div>
    </div>
  </article>

  <article class="item">
    <a
      href="https://vitaliisoloninko.github.io/relvise/"
      class="item__image-ibg"
    >
      <img src="assets/portfolio/relvise.jpg" alt="Relvise" />
    </a>
    <div class="item__body">
      <h4 class="item__title">
        <a
          href="https://vitaliisoloninko.github.io/relvise/"
          class="item__link-title"
          >Relvise - Finance and Consultancy
        </a>
      </h4>
      <div class="item__footer">
        <div class="item__category category-link">JavaScript</div>
        <div class="item__category category-link">CSS</div>
        <div class="item__category category-link">HTML</div>
        <a href="https://vitaliisoloninko.github.io/relvise/" class="item__link"
          ><img src="assets/icons/link.svg" alt="link"
        /></a>
      </div>
    </div>
  </article>

  <article class="item">
    <a
      href="https://vitaliisoloninko.github.io/smartspace/"
      class="item__image-ibg"
    >
      <img src="assets/portfolio/smartspace.jpg" alt="SmartSpace" />
    </a>
    <div class="item__body">
      <h4 class="item__title">
        <a
          href="https://vitaliisoloninko.github.io/smartspace/"
          class="item__link-title"
          >Relvise - Finance and Consultancy
        </a>
      </h4>
      <div class="item__footer">
        <div class="item__category category-link">JavaScript</div>
        <div class="item__category category-link">CSS</div>
        <div class="item__category category-link">HTML</div>
        <a
          href="https://vitaliisoloninko.github.io/smartspace/"
          class="item__link"
          ><img src="assets/icons/link.svg" alt="link"
        /></a>
      </div>
    </div>
  </article>

  <article class="item">
    <a
      href="https://vitaliisoloninko.github.io/portfolio/"
      class="item__image-ibg"
    >
      <img src="assets/portfolio/portfolio.jpg" alt="Portfolio" />
    </a>
    <div class="item__body">
      <h4 class="item__title">
        <a
          href="https://vitaliisoloninko.github.io/portfolio/"
          class="item__link-title"
          >Portfolio - Site with my works
        </a>
      </h4>
      <div class="item__footer">
        <div class="item__category category-link">JavaScript</div>
        <div class="item__category category-link">GULP</div>
        <div class="item__category category-link">Webpack</div>
        <a
          href="https://vitaliisoloninko.github.io/portfolio/"
          class="item__link"
          ><img src="assets/icons/link.svg" alt="link"
        /></a>
      </div>
    </div>
  </article>
</div>
