$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

.footer {
  // .footer__container
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    @media (max-width: $mobile) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  // .footer__social

  &__social {
    .social__link {
      color: var(--grey-color);
      transition: color 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: var(--purple-color);
        }
      }
    }
  }

  // .footer__copy

  &__copy {
    color: var(--grey-color);
    font-size: 14px;
    line-height: 1.2;
  }
  [data-fp-section] {
    height: auto;
  }
}
