$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

.main-section {
  padding-top: 150px;
  padding-bottom: 120px;
  background-color: var(--bg-color);
  @media (max-width: $mobile) {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  // .main-section__container
  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    @media (max-width: $mobile) {
      grid-template-columns: auto;
      column-gap: 0px;
      row-gap: 40px;
    }
  }

  // .main-section__content
  &__content {
  }

  // .main-section__title
  &__title {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  // .main-section__text
  &__text {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  // .main-section__decor
  &__decor {
  }

  // .main-section__image
  &__image {
  }
}

.decor-main-section {
  // .decor-main-section__image
  max-width: 336px;
  margin: 0 22px;
  justify-self: center;
  @media (min-width: $mobile) {
    width: 100%;
    justify-self: end;
  }
  @media (max-width: $mobile) {
    max-width: none;
    width: 336px;
  }
  // .decor-main-section__box
  &__box {
    position: relative;
    padding-bottom: 25rem;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 16px;
    }
    &::before {
      z-index: 1;
      background-color: var(--purple-color);
      transform: rotate(-9.95deg);
    }
    &::after {
      z-index: 2;
      background: var(--purple-light-color);
    }
  }
  // .decor-main-section__image
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
  }
  // .decor-main-section__picture
  &__picture {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
  }
}
