<div class="career__body">
  <ul class="career__navigation navigation-career">
    <li
      class="navigation-career__title"
      id="{{ tabs[0].id }}"
      [class.tab-active]="selectedTab === 1"
      (click)="selectTab(tabs[0].id)"
    >
      <div class="navigation-career__text">2022 - 2024 Front-end</div>
      <div class="navigation-career__arrow">
        <img src="assets/icons/arrow-16.svg" alt="l" />
      </div>
    </li>
    <li
      class="navigation-career__title"
      id="{{ tabs[1].id }}"
      [class.tab-active]="selectedTab === 2"
      (click)="selectTab(tabs[1].id)"
    >
      <div class="navigation-career__text">2012 - 2022 Developer</div>
      <div class="navigation-career__arrow">
        <img src="assets/icons/arrow-16.svg" alt="l" />
      </div>
    </li>
    <li
      class="navigation-career__title"
      id="{{ tabs[2].id }}"
      [class.tab-active]="selectedTab === 3"
      (click)="selectTab(tabs[2].id)"
    >
      <div class="navigation-career__text">2009 - 2012 IT Teacher</div>
      <div class="navigation-career__arrow">
        <img src="assets/icons/arrow-16.svg" alt="l" />
      </div>
    </li>
  </ul>
  <div data-tabs-body class="career__content content-career">
    @switch (selectedTab) { @case (tabs[0].id) {
    <ng-container>
      <div class="content-career__body">
        <div class="content-career__header">
          <div class="content-career__title">
            Front-end Developer
            <div class="content-career__link-title">(Freelance)</div>
          </div>
          <div class="content-career__location">Schwerin, Germany</div>
          <div class="content-career__time">Jun 2022 - Present · Part-time</div>
          <div class="content-career__categories">
            <div class="category-link">Angular</div>
            <div class="category-link">Type Script</div>
            <div class="category-link">Java Script</div>
            <div class="category-link">SCSS/CSS</div>
            <div class="category-link">HTML</div>
          </div>
        </div>
        <div class="content-career__main">
          <ul class="content-career__list list-content-career">
            <li class="list-content-career__item">
              Code and content optimization for fast work.
            </li>
            <li class="list-content-career__item">
              Responsive web design for any device.
            </li>
            <li class="list-content-career__item">
              Development of different complexity.
            </li>
            <li class="list-content-career__item">Using different features.</li>
          </ul>
        </div>
      </div>
    </ng-container>
    }} @switch (selectedTab) { @case (tabs[1].id) {
    <ng-container>
      <div class="content-career__body">
        <div class="content-career__header">
          <div class="content-career__title">
            IT educational Developer
            <div class="content-career__link-title">(Grand)</div>
          </div>
          <div class="content-career__location">Rivne, Ukraine</div>
          <div class="content-career__time">
            Nov 2012 - Feb 2022 · Full-time
          </div>
          <div class="content-career__categories">
            <div class="category-link">Web design</div>
            <div class="category-link">Design UX/UI</div>
            <div class="category-link">Office</div>
            <div class="category-link">3D</div>
            <div class="category-link">Video editing</div>
          </div>
        </div>
        <div class="content-career__main">
          <ul class="content-career__list list-content-career">
            <li class="list-content-career__item">
              Development of educational materials
            </li>
            <li class="list-content-career__item">
              Web design - HTML, CSS, Java Script
            </li>
            <li class="list-content-career__item">
              Design UX/UI - Figma, Illustrator, Inkscape
            </li>
            <li class="list-content-career__item">
              MS Office - Word, Excel, PowerPoint
            </li>
            <li class="list-content-career__item">3D - Blender, SketchUp</li>
            <li class="list-content-career__item">
              Video editing - DaVinci Resolve, Premiere Pro
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
    }} @switch (selectedTab) { @case (tabs[2].id) {
    <ng-container>
      <div class="content-career__body">
        <div class="content-career__header">
          <div class="content-career__title">
            Computer courses IT Teacher
            <div class="content-career__link-title">(Grand)</div>
          </div>
          <div class="content-career__location">Rivne, Ukraine</div>
          <div class="content-career__time">
            Sep 2009 - Sep 2012 · Full-time
          </div>
          <div class="content-career__categories">
            <div class="category-link">Web design</div>
            <div class="category-link">Design UX/UI</div>
            <div class="category-link">Office</div>
            <div class="category-link">3D</div>
            <div class="category-link">Video editing</div>
          </div>
        </div>
        <div class="content-career__main">
          <ul class="content-career__list list-content-career">
            <li class="list-content-career__item">
              Web design - HTML, CSS, Java Script
            </li>
            <li class="list-content-career__item">
              Design UX/UI - Figma, Illustrator, Inkscape
            </li>
            <li class="list-content-career__item">
              MS Office - Word, Excel, PowerPoint
            </li>
            <li class="list-content-career__item">3D - Blender, SketchUp</li>
            <li class="list-content-career__item">
              Video editing - DaVinci Resolve, Premiere Pro
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
    }}
  </div>
</div>
