<article class="article-item">
  <a routerLink="/blog-article/{{ article.id }}" class="image">
    <img [src]="article.img" alt="{{ article.title }}" />
  </a>
  <div class="body">
    <strong>
      <a href="" class="title">{{ article.title }}</a>
    </strong>
    <div class="date">{{ article.date }}</div>
    <div class="text">{{ article.description }}</div>
    <a routerLink="/blog-article/{{ article.id }}">
      <button class="btn btn-dark button">Weiterlesen</button>
    </a>
  </div>
</article>
