$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

.main-section {
  padding-top: 150px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
  @media (max-width: $mobile) {
    padding-top: 100px;
    padding-bottom: 30px;
  }

  // .main-section__container
  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding: 0 20px;
    }
  }

  // .main-section__content
  &__content {
  }

  // .main-section__decor
  &__decor {
  }
}
