<section class="main-section">
  <div class="main-section__container">
    <div class="main-section__content">
      <div class="main-section__title title">
        <app-title [subtitle]="'Mein Name ist'"></app-title>
        <h1 class="title__value title__value_big">
          Vitalii <span>Soloninko</span>
        </h1>
      </div>
      <div class="main-section__text text">
        <p>
          Ich bin ein leidenschaftlicher <strong>Frontend Developer</strong> mit
          über 5 Jahren praktischer Erfahrung. Mein Schwerpunkt liegt auf
          Angular, TypeScript und JavaScript; außerdem habe ich gute Kenntnisse
          im Backend-Bereich und mit Datenbanken.
        </p>
      </div>
      <app-social-links></app-social-links>
    </div>
    <div class="main-section__decor decor-main-section">
      <div class="decor-main-section__box">
        <div class="decor-main-section__image">
          <img
            class="decor-main-section__picture"
            src="assets/main/picture.png"
            alt="Picture"
          />
        </div>
      </div>
    </div>
  </div>
</section>
