$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

/* Project Page Styles */

.container {
  padding-top: 100px;
  padding-bottom: 50px;
  @media (max-width: $mobile) {
    padding-top: 90px;
    padding-bottom: 30px;
  }
}

.project__body {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @media (max-width: $mobile) {
    font-size: 1.1rem;
    justify-content: center;
    gap: 1rem;
  }
}
