<form action="#" class="contacts__form form">
  <div class="form__item form__item-name">
    <input
      autocomplete="off"
      type="text"
      name="form[]"
      data-error="Enter your name"
      data-required
      placeholder="Name"
      class="form__input"
    />
  </div>
  <div class="form__item form__item-email">
    <input
      autocomplete="off"
      type="text"
      name="form[]"
      data-error="Enter your E-mail"
      data-required="email"
      placeholder="Email"
      class="form__input"
    />
  </div>
  <div class="form__item form__item-textarea">
    <textarea
      autocomplete="off"
      name="form[]"
      placeholder="Message"
      data-error="Error"
      class="form__input"
    ></textarea>
  </div>
  <div class="form__item">
    <button type="submit" class="form__button">Send Message</button>
  </div>
</form>
