$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

.contacts {
  // .contacts__container
  background-color: var(--bg-color);
  flex: 1 1 auto;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 15px;
  }
  // .contacts__body
  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    @media (max-width: 850px) {
      grid-template-columns: auto;
      gap: 30px;
    }
  }
  // .contacts__form
  &__form {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  // .contacts__content
  &__content {
    @media (max-width: $tablet) {
      padding-left: 40px;
    }
    @media (min-width: 850px) {
      padding-left: 100px;
    }
  }
  // .contacts__list
  &__list {
  }
}

.list-contacts {
  // .list-contacts__item
  &__item {
    display: flex;
    align-items: center;
    gap: 30px;
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  // .list-contacts__icon
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    padding: 16px;
    border-radius: 16px;
    background: var(--purple-light-color);
  }

  // .list-contacts__body
  &__content {
  }

  // .list-contacts__title
  &__title {
    font-weight: 500;
    line-height: 1.3;
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  // .list-contacts__text
  &__text {
    font-size: 14px;
    line-height: 1.8;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: var(--purple-color);
      }
    }
  }
}
