<div class="skill-list">
  @if (title()) {
    <div class="title">{{ title() }}</div>
  }
  <div
    class="skill-list__padding"
    [class.skill-list__padding--active]="withPadding()"
  >
    <div class="skill-list__items">
      @for (skill of skills(); track skill; let i = $index) {
        <div
          class="skill-list__item"
          appScrollAnimation
          animationType="scale-in"
          [delay]="i * 50"
        >
          <div
            class="skill-list__label"
            [class.skill-list__label--purple]="theme() === 'purple'"
            [class.skill-list__label--dark]="theme() === 'dark'"
          >
            {{ skill }}
          </div>
          <div
            class="skill-list__line"
            [class.skill-list__line--purple]="theme() === 'purple'"
            [class.skill-list__line--dark]="theme() === 'dark'"
          ></div>
        </div>
      }
    </div>
  </div>
</div>
