<section class="skills">
  <div class="skills__container">
    <div class="skills__body">
      <div class="skills__education">
        <div class="skills__title title">
          <app-title [title]="'Studium'" [subtitle]="'Universität'"></app-title>
        </div>
        <div class="skills__timeline timeline">
          @for (item of education; track item) {
            <div class="timeline__item">
              <div class="timeline__content">
                <div class="timeline__date">{{ item.year }}</div>
                <div class="timeline__level">{{ item.level }}</div>
              </div>
              <div class="timeline__institution">
                {{ item.institution }}
              </div>
            </div>
          }
        </div>
      </div>
      <div class="skills__content content-skills">
        <div class="skills__title title">
          <app-title [title]="'Fähigkeiten'" [subtitle]="'Skills'"></app-title>
        </div>

        <app-skill-list
          [title]="'Frontend '"
          [skills]="frontendSkills"
          [theme]="'purple'"
        >
        </app-skill-list>

        <app-skill-list
          [title]="'Backend '"
          [skills]="backendSkills"
          [theme]="'dark'"
          [withPadding]="true"
        >
        </app-skill-list>

        <app-skill-list
          [title]="'Extra'"
          [skills]="additionalSkills"
          [theme]="'default'"
        >
        </app-skill-list>
      </div>
    </div>
  </div>
</section>
