$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

.skills {
  padding-top: 100px;
  padding-bottom: 50px;
  @media (max-width: $mobile) {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  // .skills__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width: $mobile) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  // .testimonials__title
  &__title {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  // .skills__body
  &__body {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 100px;
    @media (max-width: $tablet) {
      column-gap: 40px;
    }
    @media (max-width: $mobile) {
      grid-template-columns: auto;
      gap: 40px;
    }
  }

  // .skills__timeline
  &__timeline {
  }

  // .skills__content
  &__content {
  }
}
