<section class="skills">
  <div class="skills__container">
    <div class="skills__body">
      <div class="skills__education">
        <div class="skills__title title">
          <app-title [title]="'Studium'" [subtitle]="'Universität'"></app-title>
        </div>
        <div class="skills__timeline">
          <app-timeline [items]="education"></app-timeline>
        </div>
      </div>
      <div class="skills__content content-skills">
        <div class="skills__title title">
          <app-title [title]="'Fähigkeiten'" [subtitle]="'Skills'"></app-title>
        </div>

        <app-skill-list
          [title]="'Frontend '"
          [skills]="frontendSkills"
          [theme]="'purple'"
        >
        </app-skill-list>

        <app-skill-list
          [title]="'Backend '"
          [skills]="backendSkills"
          [theme]="'dark'"
          [withPadding]="true"
        >
        </app-skill-list>

        <app-skill-list
          [title]="'Extra'"
          [skills]="additionalSkills"
          [theme]="'default'"
        >
        </app-skill-list>
      </div>
    </div>
  </div>
</section>
