<div class="container">
  <div class="project__container">
    @if (projects().length && project()) {
      <app-nav-bar
        [projects]="projects()"
        [project]="project()"
        (prev)="goToPrev()"
        (next)="goToNext()"
      ></app-nav-bar>
    }

    <article class="project__body">
      <app-project-hero [project]="project()"></app-project-hero>

      <div class="content">
        <app-project-stack [project]="project()"></app-project-stack>
        <app-project-features [project]="project()"></app-project-features>
      </div>
    </article>

    <app-project-pages [project]="project()"></app-project-pages>

    <app-project-description [project]="project()"></app-project-description>
  </div>
</div>
