.blog {
  // .blog__container

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 80px;
  }

  // .blog__title

  &__title {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  // .blog__items

  &__items {
    align-self: stretch;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  // .blog__item

  &__item {
  }
}
.item-blog {
  min-height: 100%;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
  border: 1px solid #f1f1f1;
  // .item-blog__image-ibg

  &__image-ibg {
    overflow: hidden;
    padding-bottom: percent(243, 361);
    img {
      transition: transform 0.8s ease 0s;
    }
    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }

  // .item-blog__body

  &__body {
    padding: 1rem 1rem 1.5rem 1rem;
    display: grid;
    gap: 20px;
  }

  // .item-blog__title

  &__title {
    font-weight: 500;
    line-height: 1.5;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: var(--main-color);
      }
    }
  }

  // .item-blog__date

  &__date {
    justify-self: start;
  }

  // .item-blog__text

  &__text {
  }

  // .item-blog__link

  &__link {
    margin-top: 22px;
    justify-self: center;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: var(--main-color);
      }
    }
  }
}
