<app-article-title title="Blog" subtitle="My Angular templates" />

<app-article-list [articles]="displayedArticles" />

<div class="pagination">
  <button
    *ngIf="currentPage > 1"
    (click)="goToPage(currentPage - 1)"
    class="pagination-button"
  >
    Previous
  </button>

  <span class="pagination-info">
    Page {{ currentPage }} of {{ totalPages }}
  </span>

  <button
    *ngIf="currentPage < totalPages"
    (click)="goToPage(currentPage + 1)"
    class="pagination-button"
  >
    Next
  </button>
</div>

<!-- <app-article-title [title]="'Angular'" [subtitle]="'basic logic'" />
<app-article-list [articles]="angularBasic" /> -->
