<div class="career__body">
  <ul class="career__navigation navigation-career">
    @for (tab of tabs; track tab) {
      <li
        class="navigation-career__title"
        [id]="tab.id"
        [class.tab-active]="selectedTab === tab.id"
        (click)="selectTab(tab.id)"
        >
        <div class="navigation-career__text">
          <div>{{ tab.period }}</div>
        </div>
        <div class="navigation-career__arrow">
          <img src="assets/icons/arrow.svg" alt="l" />
        </div>
      </li>
    }
  </ul>
  <div data-tabs-body class="career__content content-career">
    @for (tab of tabs; track tab) {
      @if (selectedTab === tab.id) {
        <div class="content-career__body">
          <div class="content-career__header">
            <div class="content-career__title">
              {{ tab.title }}
              <div class="content-career__link-title">
                {{ tab.linkTitle }}
              </div>
            </div>
            <div class="content-career__location">{{ tab.location }}</div>
            <div class="content-career__time">{{ tab.time }}</div>
            <div class="content-career__categories">
              @for (cat of tab.categories; track cat) {
                <div class="category-link">
                  {{ cat }}
                </div>
              }
            </div>
          </div>
          <div class="content-career__main">
            <ul class="content-career__list list-content-career">
              @for (item of tab.list; track item) {
                <li
                  class="list-content-career__item"
                  >
                  {{ item }}
                </li>
              }
            </ul>
          </div>
        </div>
      }
    }
  </div>
</div>
