<!-- <app-search></app-search> -->
<app-tags></app-tags>

<div class="items">
  <article class="item" *ngFor="let project of projects">
    <a routerLink="/project/{{ project.id }}" class="item__image-ibg">
      <img [src]="project.img" alt="{{ project.name }}" />
    </a>
    <div class="item__body">
      <h4 class="item__title">
        <div class="item__link-title">
          {{ project.name }}
        </div>
      </h4>
      <div class="item__fullstack">{{ project.category }}</div>
    </div>
    <div class="item__footer">
      <span
        *ngFor="let skill of project.stack"
        class="item__category category-link"
        >{{ skill }}</span
      >
    </div>
  </article>
</div>

<div class="projects">
  <div class="item mb16" *ngFor="let project of projects">
    <div class="bold">PROJEKTNAME: {{ project.name }}</div>
    <div>
      BESCHREIBUNG: <span>{{ project.description }}</span>
    </div>
    <div>KATEGORIE: {{ project.category }}</div>
    <div>
      STAPEL:
      <span *ngFor="let skill of project.stack">• {{ skill }} </span>
    </div>
    <div>
      MERKMALE:
      <span *ngFor="let feature of project.features">• {{ feature }} </span>
    </div>
    <!-- <div>
      SEITEN:
      <span *ngFor="let page of project.pages">{{ page }} </span>
    </div> -->
    <div>WEBSEITE: {{ project.site }}</div>
    <div>GITHUB: {{ project.gitHub }}</div>
  </div>
</div>
