<app-search></app-search>
<app-tags></app-tags>

<div class="items">
  <article class="item" *ngFor="let project of projects">
    <a href="{{ project.link }}" class="item__image-ibg">
      <img [src]="project.img" alt="{{ project.name }}" />
    </a>
    <div class="item__body">
      <h4 class="item__title">
        <a href="{{ project.link }}" class="item__link-title"
          >{{ project.name }} - {{ project.description }}
        </a>
      </h4>
      <a href="{{ project.link }}" class="item__link"
        ><img src="assets/icons/link.svg" alt="link"
      /></a>
    </div>
    <div class="item__footer">
      <span
        *ngFor="let skill of project.stack"
        class="item__category category-link"
        >{{ skill }}</span
      >
    </div>
  </article>
</div>
