.page-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  row-gap: 0.8rem;
  margin-bottom: 1.3rem;
}
.page-item {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.1);
  padding: 10px 16px;
  border-radius: 60px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: rgb(0, 0, 0, 0.2);
  }
}
