$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

.career {
  // .career__container
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: var(--bg-color);
  @media (max-width: $mobile) {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__title {
    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }
}
