<section class="main-section">
  <div class="main-section__container">
    <div class="main-section__content">
      <div class="main-section__title title">
        <div class="title__label">Mein Name ist</div>
        <h1 class="title__value title__value_big">
          Vitalii <span>Soloninko</span>
        </h1>
      </div>
      <div class="main-section__text text">
        <p>
          Kreativer Frontend-Entwickler mit 4 Jahren Erfahrung in der
          Programmierung. Leidenschaft für Angular, TypeScript, JavaScript.
          Kompetent in UI/UX.
        </p>
      </div>
      <ul class="main-section__social social">
        <li class="social__item">
          <a href="https://github.com/VitaliiSoloninko" class="social__link">
            <img src="assets/icons/github.svg" alt="GitHub" />
          </a>
        </li>
        <li class="social__item">
          <a
            href="https://www.linkedin.com/in/vitalii-soloninko-1a3987271/"
            class="social__link"
            ><img src="assets/icons/linkedin.svg" alt="Linkedin"
          /></a>
        </li>
      </ul>
    </div>
    <div class="main-section__decor decor-main-section">
      <div class="decor-main-section__box">
        <div class="decor-main-section__image">
          <img
            class="decor-main-section__picture"
            src="assets/main/picture.png"
            alt="Picture"
          />
        </div>
      </div>
    </div>
  </div>
</section>
