<section class="portfolio">
  <div class="portfolio__container portfolio">
    <div class="portfolio__title title">
      <app-title
        [title]="'Mein Portfolio'"
        [subtitle]="'Meine Projekte'"
      ></app-title>
    </div>

    <app-tags (tagSelected)="onTagSelected($event)"></app-tags>

    <app-project-list [projects]="displayedProjects()"></app-project-list>

    @if (displayedProjects().length < filteredProjects().length) {
      <div class="show-more-wrapper">
        <button class="btn" (click)="showMore()">Mehr anzeigen</button>
      </div>
    }
  </div>
</section>
