$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

.career-timeline {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: var(--bg-color);

  @media (max-width: $mobile) {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title {
    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 100px;
    row-gap: 30px;

    @media (max-width: $tablet) {
      column-gap: 30px;
    }

    @media (min-width: $mobile) {
      grid-template-columns: repeat(0.3fr, 1fr);
      align-content: center;
      align-items: start;
      grid-auto-flow: column;
    }
  }

  &__navigation {
    ._tab-spoller & {
      display: none;
    }
  }

  &__content {
  }
}
