<article class="item-portfolio">
  <a target="_blank" href="works.html" class="item-portfolio__image-ibg">
    <img src="assets/portfolio/homepro.jpg" alt="HomePro" />
  </a>
  <div class="item-portfolio__body">
    <h4 class="item-portfolio__title">
      <a
        href="https://vitaliisoloninko.github.io/homepro/"
        class="item-portfolio__link-title"
        >HomePro - Home services
      </a>
    </h4>
    <div class="item-portfolio__footer">
      <div class="item-portfolio__category category-link">JavaScript</div>
      <div class="item-portfolio__category category-link">GULP</div>
      <div class="item-portfolio__category category-link">Webpack</div>
      <a
        href="https://vitaliisoloninko.github.io/homepro/"
        class="item-portfolio__link"
        ><img src="assets/icons/link.svg" alt="link"
      /></a>
    </div>
  </div>
</article>
