$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

.portfolio {
  padding-top: 50px;
  padding-bottom: 50px;
  @media (max-width: $mobile) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.title {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
